In [1]:
# Q. No.1

In [7]:
X=8
Y=10
output=X//3*3/2+Y%2**2
print(output)

5.0

In [9]:
#Q.No. 2
Consider the code:
start=input(‘How old were you at the time of joining?’)
end=input(‘’How old are you today?’)
which of the following code is valid to print Congratulations message?

SyntaxError: invalid character '‘' (U+2018) (625418795.py, line 3)

In [23]:
start=input('How old were you at the time of joining?')
end=input('How old are you today?')
print('Congratulations on '+ str(int(end)-int(start))+' Years of Service!')

How old were you at the time of joining? 26
How old are you today? 35

Congratulations on 9 Years of Service!

In [ ]:
#Q. No. 3
Consider the code:
x=’ACROTE’
y=’APPLE’
z=’TOMATO’
Which of the following won’t print ‘CAT’ to the console

In [37]:
x='ACROTE'
y='APPLE'
z='TOMAT'
print(x[1]+y[0]+z[0])

CAT

In [39]:
x='ACROTE'
y='APPLE'
z='TOMAT'
print(x[2]+y[1]+z[1])

RPO

In [ ]:
#Q. No. 4
Consider which of the following code
x=’Serge’
y=’Serge’
result=condtion
print(result)
for which of the following condition True will be printed to the console?

In [47]:
x='Serge'
y='Serge'
result=x is y
print(result)

True

In [ ]:
# Q. No. 5
Consider the following code segments:
#Code Segment-1
a1=’10’
b1=3
c1=a1*b1
#Code Segment-2
a2=10
b2=3
c2=a2/b2
#Code Segment-3

After executing Code Segments 1,2 and 3 the result types of c1,c2 and c3 are:
answer:c1 is of str type,c2 is of float type,c3 is of float type

In [71]:
a1='10'
b1=3
c1=a1*b1
a2=10
b2=3
c2=a2/b2
a3=2.6
b3=1
c3=a3/b3

In [63]:
type(c1)

str

In [65]:
type(c2)

float

In [69]:
type(c3)

float

In [ ]:
#Q. No. 6
Consider the following lists:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1==n2)
what is the output?

In [75]:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1==n2)

False
True

In [ ]:
#Q. No. 7
Consider the python code
a=1
b=3
c=5
d=7
In which of the following cases the result value is 0?

In [81]:
a=1
b=3
c=5
d=7
result=a**d-1
print(result)

0

In [ ]:
#Q. No. 8
Consider the code
s='AB CD'
list=list(s)
list.append(‘EF’)
print(list)
What is the result?
ans:[‘A’,’B’,’ ’,’C’,’D’,’EF’]

In [ ]:
##Q. No. 9
Consider the Python code:
a=5
b=10
c=2
d=True

x=a+b*c
y=a+b/d

if(condition):
	print(‘Valid’)
else:
	print(‘Invalid’)
To print ‘Valid’ to the console, which condition we have to take for if statement?

In [47]:
a=5
b=10
c=2
d=True
x=a+b*c
y=a+b/d
if(x>y):
    print('Valid',x,y)
else:
    print('Invalid')

Valid 25 15.0

In [ ]:
##Q. No. 10
You are writing a Python program to read two int values from the keyboard and print the sum.
	x=input(‘Enter First Number:’)
	y=input(‘Enter Second Number:’)
	#Line1
which of the following code we have to write at Line-1 to print sum of given numbers.

In [63]:
x=input("Enter First Number:")
y=input("Enter Sencond Number:")
result=int(x)+int(y)
print(result)
print('The Result:'+str(int(x)+int(y)))

Enter First Number: 33
Enter Sencond Number: 33

66
The Result:66

In [67]:
##Q. No. 11 Consider the code
	f=open(‘abc.txt’)
	f.readall()
Which exception will be raised?

IndentationError: unexpected indent (1428962655.py, line 3)

In [71]:
f=open('b104.txt')
f.readall()

AttributeError: '_io.TextIOWrapper' object has no attribute 'readall'

In [ ]:
#We are creating a function that reads a data file and prints each line of that file.
Consider the following code:
	Import os
	def read_file(file):
		line=None
		if os.path.isfile(file):
			data=open(file, ‘r’)
		while line != ‘ ’:
			line=data.readline()
			print(line)

The code attempts to read the file even if the file does not exist.
You need to correct the code. Which lines having indentation problems?

In [127]:
import os
def read_file(b104):
    line=None
    if os.path.isfile("b104.txt"):
    	data=open("b104.txt","r")
    while line!= " ":
        line=data.readline()
        print(line)
###NOT Abole to find Answer...

In [ ]:
#Q. No. 13
Which of the following are True?
1.A try block can have any number of except blocks
2.try block should be associate with atmost one finally block
3.try block should be associated with atmost one else block
4.All the above 
Answer : All are correct.

In [ ]:
# Q. No.14 The base class for all exceptions in python is :
1) BaseException
2) Exception
3) ReferenceError
4)RuntimeError
5)SyntaxError
6)SystemError
7)TypeError
8)ValueError

In [ ]:
Q. No.15
Which of the following is True about else block?
else block will be executed if there is no exception in try block
Without writing except block we cannot write else block
For the same try we can write atmost one else block
All the above
Answer : All are correct

In [ ]:
#Q. No.16
Consider the code:
	try:
		print(‘try’)
	except:
		print(‘except’)
	else: 
		print(‘else’)
	finally:
		print(‘finally’)
What is the result?

In [134]:
try:
    print("try")
except:
    print("except")
else: 
    print("else")
finally:
    print("finally")

try
else
finally

In [ ]:
Q. No.17
Consider the code
	try: 
		print(‘try’)
		print(10/0)
	except:
	print(‘except’)
else:
		print(‘else’)
	finally:
		print(‘finally’)

In [136]:
try:
    print('try')
    print(10/0)
except:
    print('except')
else:
    print('else')
finally:
    print('finally')

try
except
finally

In [ ]:
##Q. No.18
Consider the code:
	try: 
		Print(‘try’)
		Print(10/0)
	else:
		Print(‘else’)
	except:
		print(‘except’)
	finally:
		print(‘finally’)

What is Result?
Ans:Invalid Sysntax

In [140]:
try: 
    Print('try')
    Print(10/0)
else:
    Print('else')
except:
    print('except')
finally:
    print('finally')

SyntaxError: expected 'except' or 'finally' block (1493125485.py, line 4)

In [ ]:
##Q. No.19
Consider the code:
	f=open(‘abc.txt’)
	print(f.read())
	f.close()
We required to add exception handling code to handle FileNotFoundError.
We of the following is appropriate code for this requirement?

In [154]:
f=open
try: 
    f=open('b104.txt')
except:
    FileNotFoundError  
    print('Fild does not exist')
else: 
	print(f.read())
finally:
	f.close()

This is my first line.
This is my second line.
This is my Third line

This is Fourth line


 This appended line
.4 Hello maam,
 .5 this python programming session.


6 Need more practices
 4 Hello maam,
 .5 this python programming session.


6 Need more practices
 4 Hello maam,
 .5 this python programming session.


6 Need more practices
 4 Hello maam,
 .5 this python programming session.


6 Need more practices
 4 Hello maam,
 .5 this python programming session.


6 Need more practices
 4 Hello maam,
 .5 this python programming session.


6 Need more practices
 4 Hello maam,
 .5 this python programming session.


6 Need more practices
 4 Hello maam,
 .5 this python programming session.


6 Need more practices
 4 Hello maam,
 .5 this python programming session.


6 Need more practices
 4 Hello maam,
 .5 this python programming session.


6 Need more practices
 4 Hello maam,
 .5 this python programming session.


6 Need more practices
 4 Hello maam,
 .5 this python programming session.


6 Need more practices
 4 Hello maam,
 .5 this python programming session.


6 Need more practices
 4 Hello maam,
 .5 this python programming session.


6 Need more practices

In [ ]:
Q. No.20
Consider the code
	a=10
	b=20
	c=30
	result=a+b+c
What is the result?

In [166]:
a=10
b=20
c=30
result=a+b+c
print(result)

60

## Q. No.21
Consider the code:
	prices=[30.5,’40.5’,10.5]
	total=0
	for price in prices:
		total += price
	print(total)

	while executing this code we are getting the following erro

	Traceback (most recent call last):
	    File “test.py”, line 4, in <module>
		Total += price 
	TypeError: unsupported operand type(s) for +=: ‘float’ and ‘str’
Which of the following code should be used to fix this error?
Ans: total += float(price)

In [9]:
prices=[30.5,'40.5',10.5]
total=0
for price in prices:
    total += float(price)
    print(total)

30.5
71.0
81.5

In [ ]:
# Q. No.22
Consider the code:
	prices=[10,’20’,30,’40’]
	total=0
	for price in prices:
		total +=price
	print(total)
	while executing this code we are getting the following error
	
	Traceback (most recent call last):
	    File ‘cost.py’, line 4, in <module>
		Total +=price
	TypeError: unsupported operand type(s) for +=: ‘int’ and ‘str’ total += str(price)
By using which of the following code segments we can fix this problem( Choose Two)?
ans: total +=int(price) and total +=float(price)

In [19]:
prices=[10,'20',30,'40']
total=0
for price in prices:
    total +=float(price)
print(total)

100.0

In [ ]:
#
Q. No.23
Consider the code
	courses={ 1 : ‘Java’,2:’Scala’,3:’Python’}
	for i in range(1,5):
		print(courses[i])

While executing this code we are getting the following error
Traceback (most recent call last):
 File “test.py”, line 3, in <module>
	        print(courses[i])
           KeyError:4
By using which of the following code segments we can fix this problem?
ans: add line in for loop ... if i in courses:

In [35]:
courses={1 :'Java',2:'Scala',3:'Python'}
for i in range(1,5):
    if i in courses:
        print(courses[i])

Java
Scala
Python

In [ ]:
#Q. No.24
Consider the code
	def area(b,w):
		return B*w
	print(area(10,20))
What is the result?

In [3]:
def area(b,w):
    return b*w
print(area(10,20))

200

In [ ]:
#Q. No.25
Consider the following code:
	def get_score(total=0,valid=0):
		result=int(valid)/int(total)
		return result

For which of the function calls we will get Error?
ans:score=get_score(0,10)

In [1]:
def get_score(total=0,valid=0):
    result= int(valid)/int(total)
    return result

In [ ]:
#Q. No.26 Consider the code:
	data=[]
	def get_data():
		for i in range(1,5)
			marks=input(‘Enter Marks:’)
			data.append(marks)

	def get_avg():
		sum=0
		for mark in data:
			sum += mark
		return sum / len(data)
	get_data()
	print(get_avg())

For the input: 10,20,30,40, what is the result?
ans:25.0

In [25]:
data=[]
def get_data():
    for i in range(1,5):
    	marks=input('Enter Marks:')
    	data.append(int(marks))
def get_avg():
    sum=0
    for mark in data:
        sum += mark
    return sum / len(data)
get_data()
print(get_avg())

Enter Marks: 10
Enter Marks: 20
Enter Marks: 30
Enter Marks: 40

25.0

In [ ]:
#Q. No.27
Consider the code:
	a=18
	b=0
	try :
		print(a / b)
Which of the following except block print the name of exception which is raised, i.e 
Exception class name?

In [35]:
a=18
b=0
try :
	print(a / b)
except ZeroDivisionError as e:
    print('Exception error')

Exception error

In [ ]:
##Q. No.28
Which of the following is valid way of creating our own custom exception?
ans:class MyException(Exception):
        pass

In [ ]:
##Q. No.29
Consider the following python code: 
1. Weight=62.4
2. Zoo=‘80098’ 
3. Value=+23e4
The types of weight zip and value variable respectively:

In [39]:
Weight=62.4
type(Weight)

float

In [43]:
Zoo='80098' 
type(Zoo)

str

In [45]:
Value=+23e4
type(Value)

float

In [ ]:
#Q. No.30
You are writing a python program. You required to handle data types properly.
Consider the code segment:
a=10+20
b=‘10’+’20’
c=‘10’*3
Identify the types of a,b and c? 
ans:int,str,str

In [47]:
a=10+20
b='10'+'20'
c='10'*3

In [53]:
type(a)
type(b)
type(c)

str

In [ ]:
##Q. No.31
1. a= bool([False])
2. b= bool(3)
3. c= bool(“”)
4. d= bool(‘ ’)
Which of the variables will be represent False?
ans c and d

In [55]:
a= bool([False])
b= bool(3)
c= bool("")
d= bool('')

In [67]:
c

False

In [69]:
d

False

In [ ]:
#Consider the following expression 
Result= (2*(3+4) **2-(3**3)*3)
What is result value?

In [71]:
Result= (2*(3+4) **2-(3**3)*3)

In [75]:
Result

17

In [ ]:
##Q. No.33
Consider the code
a=2
a += 1
# line-1
To make a value as 9, which expression required to place at line-1

In [103]:
a=3
a**=2
a

9

In [ ]:
#Q. No.34
You are developing a python application for your company.
A list named employees contains 500 employees names, the last 3 begins company
Management. Which of the following represents only management employees.
ans:employess[-3:] and employees[497:]

In [ ]:
#Q. No. 35
Consider the code:
	s=’Python is easy’
	s1=s[-7:]
	s2=s[-4:]
	print(s1+s2)
what is the result?

In [117]:
s="Python is easy"
s1=s[-7:]
s2=s[-4:]
print(s1)
print(s2)
print(s1+s2)

is easy
easy
is easyeasy

In [ ]:
##
Q. No. 36
We are developing a shopping application. Consider the code?
	d=input(‘Enter day of the week’)
	discount_percentage=3
	if d==’Monday’:
		discount_percentage+=5
	elif d==’Tuesday’:
		discount_percentage+=7
	elif d==’Saturday’:
		discount_percentage+=10
	elif d==’Sunday’:
		discount_percentage+=20
	else:
discount_percentage+=2

To get 5 as discount_percentage,which of the following input should be provided by the end user?

In [143]:
d=input("Enter day of the week")
discount_percentage=3
if d=='Monday':
    discount_percentage+=5
    print(discount_percentage)
elif d=='Tuesday':
    discount_percentage+=7
    print(discount_percentage)
elif d=='Saturday':
    discount_percentage+=10
    print(discount_percentage)
elif d=='Sunday':
    discount_percentage+=20
    print(discount_percentage)
else:
    discount_percentage+=2
    print(discount_percentage)

Enter day of the week no week day

5

In [ ]:
#Q. No. 36
Consider the Python Code:
	a=[‘a’,’b’,’c’,’d’]
	for i in a:
	     a.append(i.upper())
	print(a)
What is the result?
ans:Memory error throen at runtime

In [ ]:
a=['a','b','c','d']
for i in a:
    a.append(i.upper())
    print(a)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [27]:
#Q. No. 37 Consider the code:
A=float('123.456')
#Which expression evaluates to 2?
bool(A)+True

2

In [29]:
##To write ‘Python Certification’ to b104.txt file, which of the following is valid code?
f=open('b104.txt','w')
f.write('Python Certificaton')
f.close()

In [31]:
####
Q. No.39
Conside the file abc.txt:
	Delhi:10
	Ravi:20
	Shiva:30
	Pavan:40

Consider the python code which is present in the same location of the file 
Test.py:
	Values=0
	try:
		f=open(‘abc.txt’, ‘r’)
		content=f.readlines()
		for line in content:
			values+float(line.split(‘:’)[1])
		f.close()
	except Exception:
		print(‘Unable to open the file’)
	print(values)
What is the result?
###Not abole to understand this Qustion###

ValueError: I/O operation on closed file.

In [45]:
f=open("abc.txt",'w')
f.write("Delhi:10 \n")
f.write("Ravi:20 \n")
f.write("Shiva:30 \n")
f.write("Pavan:40")

8

In [82]:
values=0
try:
    f=open('abc.txt', 'r')
    content=f.readlines()
    for line in content :
    	values+=float(line.split(':')[1])
    f.close()
except Exception:
	print('Unable to open the file')
print(values)

100.0

In [ ]:
##Q. No.40
Consider the code:
	Import sys
	try:
		file_in=open(‘in.txt’, ‘r’)
		file_out=open(‘out.txt’,’w+’)
	except IOError:
		print(‘Cannot open’, file_name)
	else:
		i=1
		for line in file_in:
			print(line.rstrip())
			file_out.write(str(i)+”:”+line)
			i=i+1
		file_in.close()
		file_out.close()

Assume that in.txt file is available but out.txt file does not exist.
Which of the following is true about this code?

In [125]:
import sys
try:
    file_in=open('abc.txt','r')
    file_out=open('abc_copy.txt','w')
except IOError:
    print('Cannot open', file_name)
else:
    i=1
    for line in file_in:
        print(line.rstrip())
        file_out.write(str(i)+":"+line)
        i=i+1      
    file_in.close()
    file_out.close()

Delhi:10
Ravi:20
Shiva:30
Pavan:40